apiVersion: modsecurity.intel.com/v1
kind: Rule
metadata:
  name: rule-sample
  namespace: default
spec:
  selector:
    matchLabels:
      app: testapp
  rules:
    SecRule ARGS:param1 "test" "id:1,phase:1,log,status:200,msg:'Test rule'"
    SecRule ARGS:param1 "attack" "id:2,phase:1,deny,status:400,msg:'Test rule'"

